@import url("https://use.typekit.net/bwc6luq.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "margot", sans-serif;
    font-weight: 400;
    font-style: italic;
}


.background {
    height: 100%;
    background: linear-gradient(to bottom, #f0f8ff, #4682b4); /* 상-하 그라데이션 */
    position: relative;
    overflow: hidden;
}

.bg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    object-fit:cover;
}


.moving-files {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.file {
    position: absolute;
    width: 130vh;
    height: 130vh;
    object-fit: contain;
    animation-timing-function: linear;
    opacity: 0.8;
}

.file1-1 {
    animation: move1 100s linear infinite;
}
.file1-2 {
    animation: move2 100s linear infinite;
}

.file1-3 {
    animation: move3 100s linear infinite;
}

.file2-1 {
    animation: move1 20s linear infinite;
}

.file2-2 {
    animation: move2 20s linear infinite;
}
.file2-3 {
    animation: move3 20s linear infinite;
}

.file3-1 {
    width: 130vh;
    height: 130vh;
    animation: move1 50s linear infinite;
}

.file3-2 {
    width: 130vh;
    height: 130vh;
    animation: move2 50s linear infinite;
}
.file3-3 {
    width: 130vh;
    height: 130vh;
    animation: move3 50s linear infinite;
}


@keyframes move1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move2 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes move3 {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(100%);
    }
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); /* 백그라운드 블러 */
    border: solid 1px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.description {
    color: #fff;
    font-size: 18px;
}
